{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}Inschrijflijsten{% endblock %}

{% block content %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1>{{ event.name }}</h1>
		</div>
		<div class="panel-body">
			<p><strong>Datum: </strong>{{ event.event_at }}</p>
			{% if event.deadline_at != None %}
				<p><strong>Inschrijfdeadline: </strong>{{ event.deadline_at }}</p>
			{% endif %}
			<p><strong>Locatie: </strong>{{ event.location }}</p>
			<p><strong>Kosten: </strong>€{{ event.price }}</p>

			<br>
			<p>{{ event.description }}</p>
		</div>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Naam</th>
					<th>Inschrijfdatum</th>
				</tr>
			</thead>
			<tbody>
				{% for reg in regs %}
					<tr {% if reg.participant == user %}class="info"{% endif %}>
						<td>{{ forloop.counter }}</td>
						<td>
							{% if reg.withdrawn_at != None %}<s>{% endif %}
								{{ reg.participant.first_name }} {{ reg.participant.last_name }}
							{% if reg.withdrawn_at != None %}</s>{% endif %}
						</td>
						<td>{{ reg.created_at }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% if form is not None %}
			<div class="panel-footer">
				<form class="form-inline" action="{{ action }}" method="post">
					{% csrf_token %}
					{% if user in event.participants.all %}
						<input name="_method" value="PUT" type="hidden">
					{% endif %}
					{% bootstrap_form form layout='inline' %}
					<button class="btn btn-primary" type="submit">OK</button>
				</form>
			</div>
		{% endif %}
	</div>
{% endblock %}
