{% load static %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="nl">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'login.css' %}">

	<title>Alembic Inschrijfsysteem - Login</title>
</head>

<body>
	<div class="container">
		<div class="card">
			<img src="{% static 'images/nieuw_logo_kleur_voor-zwarte achtergrond.png' %}" width="50%">
			<h2>Alembic</h2>
			<h3>Inschrijfsysteem</h3>
			<br>
			<p>Welkom bij het inschrijfsysteem! Log hieronder in met je Alembic-account.</p>

			<form class="form-signin" method="post">
				{% csrf_token %}
				{% bootstrap_form form %}
				{% buttons %}
					<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
				{% endbuttons %}
			</form>
		</div>
	</div>

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
