{% load static %}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">{% block title %}{% endblock %}</h4>
			</div>
			<div class="modal-body">
				{% block body %}{% endblock %}
			</div>

			<div class="modal-footer">
				<form id="modalForm" action="{% block action %}{% endblock %}" method="POST">
					{% csrf_token %}
					{% block inputs %}{% endblock %}
					<button type="button" class="btn btn-default imageTooltip" data-dismiss="modal">Of nee, toch niet <img src="{% static 'images/heydrich.jpg' %}"></button>
					<button type="submit" class="btn btn-primary" name="submit">Ja</button>
				</form>
			</div>
		</div>
	</div>
</div>
