{% extends "abstract/base.html" %}

{% load bootstrap3 %}

{% block title %}{% endblock %}

{% block content %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1>Administratie</h1>
		</div>
		<div class="panel-body">
			<h2>AD-integratie</h2><hr>
			<form action="{% url 'admin-sync-ldap' %}" method="post">
				{% csrf_token %}
				<button class="btn btn-primary" type="submit">Update commissies vanuit LDAP</button>
			</form>
			<br>

			<h2>Google Calendar-integratie</h2><hr>
			<form class="form-horizontal" action="{% url 'admin-calendar' %}" method="post">
				{% csrf_token %}
				<div class="form-group">
					<label class="col-md-3 form-label">Stap 1: Koppel Google-account</label>
					<div class="col-md-2">
						<a href="{{ authorize_url }}"><img src="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png"></a>
					</div>
					{% if cals is not None %}
						<div class="col-md-1">
							<span class="form-control-static glyphicon glyphicon-ok text-success lead"></span>
						</div>
					{% endif %}
				</div>
			    {% if cals is not None %}
					<div class="form-group{% if active_cal %} has-success{% endif %}">
						<label class="col-md-3 form-label">Stap 2: Selecteer juiste agenda (Jaarcirkel)</label>
						<div class="col-md-6">
							<select class="form-control" name="calender_id">
								{% for id, summary in cals.items %}
									<option value="{{ id }}" {% if id == active_cal %}selected{% endif %}>{{ summary }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="col-md-2">
							<button class="btn btn-primary" type="submit">Opslaan</button>
						</div>
					</div>
				{% endif %}
			</form>
		</div>
	</div>
{% endblock %}
