{% extends "abstract/base.html" %}

{% load bootstrap3 %}
{% load static %}
{% load i18n %}

{% block title %}{{ event.name }}{% endblock %}

{% block content %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1>{{ event.name }} <small>{{ event.committee.name }}</small></h1>
			{% if event.committee in user.get_admined_committees %}
				<a class="btn btn-default" href="{% url 'event-edit' event.pk %}" role="button">{% trans "Bewerken" %}</a>
			{% endif %}
			{% if event.calendar_url %}
				<a href="{{ event.calendar_url }}"><img src="{% static 'images/logo_calendar_32px.png' %}"></a>
			{% endif %}
		</div>
		<div class="panel-body">
			<p><strong>Datum: </strong>{{ event.start_at }} - {{ event.end_at }}</p>
			{% if event.deadline_at != None %}
				<p><strong>{% trans "Inschrijfdeadline:" %} </strong>{{ event.deadline_at }}</p>
			{% endif %}
			<p><strong>{% trans "Locatie:" %} </strong>{{ event.location }}</p>
			<p><strong>{% trans "Kosten:" %} </strong>€{{ event.price }}</p>

			<br>
			<p>{{ event.description }}</p>

			{% if event.places != None %}
				<div class="progress">
					<div class="progress-bar{% if event.get_active_registrations_count == event.places %} progress-bar-warning{% elif event.get_active_registrations_count > event.places %} progress-bar-danger{% endif %}" role="progressbar" style="width: {% widthratio event.get_active_registrations_count event.places 100 %}%; max-width: 100%;">
						{{ event.get_active_registrations_count }} / {{ event.places }}
					</div>
				</div>
			{% else %}
				<p>{% trans "Ingeschreven:" %} {{ event.get_active_registrations_count }}</p>
			{% endif %}
		</div>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>{% trans "Naam" %}</th>
					<th>{% trans "Inschrijfdatum" %}</th>
					{% if event.note_field != '' and event.note_field_public %}
						<th>{{ event.note_field }}</th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for reg in regs %}
					<tr class="{% if reg.is_backup %}warning{% else %}success{% endif %}{% if reg.withdrawn_at != None %} danger{% endif %}">
						<td>
							{{ forloop.counter }}
							{% if reg.participant == user %}
								<span class="glyphicon glyphicon-chevron-right"></span>
							{% endif %}
						</td>
						<td>
							{% if reg.participant == user %}
								<strong>
							{% endif %}
							{{ reg.participant.first_name }} {{ reg.participant.last_name }}
							{% if reg.participant == user %}
								</strong>
							{% endif %}
						</td>
						<td>{{ reg.updated_at }}</td>
						{% if event.note_field != '' and event.note_field_public %}
							<td>{{ reg.note }}</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="panel-footer">

			{% if form is not None %}
				<div class="flex-footer">
					<form class="form-inline" action="{{ action }}?role=user" method="post">
						{% csrf_token %}
						{% if user in event.participants.all %}
							<input name="_method" value="PUT" type="hidden">
						{% endif %}
						{% bootstrap_form form layout='inline' %}
						<button class="btn btn-primary" type="submit">{% trans "Opslaan" %}</button>
					</form>
					{% if user.chaired_committees.exists %}
						<br>
						<form class="form-inline">
							{% trans "Schrijf je commissie in:" %}
							<select id="chairedCommittees" class="form-control">
								<option selected></option>
								{% for committee in user.chaired_committees.all %}
									<option>{{ committee.name }}</option>
								{% endfor %}
							</select>
						</form>
					</div>
				{% endif %}
				{% if event.is_full %}
					<br>
					<div class="alert alert-warning">
						<p>{% trans "Deze inschrijflijst zit vol. Je kunt je nog wel inschrijven als reserve; je komt dan op de lijst te staan als iemand zich uitschrijft. Selectie is op basis van inschrijfdatum." %}</p>
					</div>
				{% endif %}
			{% else %}
				<div class="alert alert-warning">
					<p>{% blocktrans with email=event.committee.email name=event.committee.name %}De deadline voor deze inschrijflijst is verstreken. Je kunt je niet meer in- of uitschrijven. Neem voor vragen <a href="mailto:{{ email }}">contact op met de {{ name }}{% endblocktrans %}</a>.</p>
				</div>
			{% endif %}
		</div>
	</div>

	{% include 'include/bulk_registration.html' with committees=user.chaired_committees.all %}
{% endblock %}

{% block links %}
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
	<script src="{% static 'js/registration_form.js' %}"></script>
	<script src="{% static 'js/bulk_registration.js'%}"></script>
{% endblock %}
