{% extends "abstract/base.html" %}

{% load bootstrap3 %}
{% load static %}

{% block title %}Nieuwe inschrijflijst{% endblock %}

{% block content %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1>Nieuwe inschrijflijst</h1>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" action="{% url 'event-list' %}" method="post">
				{% csrf_token %}

				{% bootstrap_field form.name layout='horizontal' %}
				{% bootstrap_field form.description layout='horizontal' %}
				{% bootstrap_field form.committee layout='horizontal' %}
				{% bootstrap_field form.location layout='horizontal' %}
				{% bootstrap_field form.price layout='horizontal' addon_before='€' %}
				{% bootstrap_field form.places layout='horizontal' %}

				<hr>

				<div class="form-group">
					<label class="control-label col-md-3">Evenement:</label>
					<div class="col-md-3">
						{% bootstrap_field form.start_at show_label=False form_group_class='' %}
					</div>
					<div class="col-md-3">
						{% bootstrap_field form.end_at show_label=False form_group_class='' %}
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3">Inschrijflijst:</label>
					<div class="col-md-3">
						{% bootstrap_field form.published_at show_label=False form_group_class='' %}
					</div>
					<div class="col-md-3">
						{% bootstrap_field form.deadline_at show_label=False form_group_class='' %}
					</div>
				</div>

				<hr>

				<div class="form-group">
					<div class="col-md-offset-3 col-md-4">
						<div class="checkbox">
							<label>
								<input type="checkbox" id="note_field_check">
								Voeg een extra veld toe
							</label>
						</div>
					</div>
				</div>

				<fieldset id="note_field" disabled>
					{% bootstrap_field form.note_field layout='horizontal' %}

					<div class="form-group">
						<label class="control-label col-md-3">Type:</label>
						<div class="col-md-9">
							<div class="radio">
								<label>
									<input type="radio" name="note_field" checked>
									Vrij
								</label>
							</div>
						</div>
						<div class="col-md-offset-3 col-md-2">
							<div class="radio">
								<label>
									<input type="radio" name="note_field">
									Multiple-choice
								</label>
							</div>
						</div>
						<div class="col-md-7">
							{{ form.note_field_options }}

						</div>
					</div>

					{% bootstrap_field form.note_field_required layout='horizontal' %}
					{% bootstrap_field form.note_field_public layout='horizontal' %}
				</fieldset>

				<button class="btn btn-primary" type="submit">Opslaan</button>
			</form>
		</div>
	</div>
{% endblock %}

{% block links %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">
{% endblock %}

{% block scripts %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
	<script>
        $(function () {
            $('.date').datetimepicker({
                format: 'YYYY-MM-DD HH:mm'
            });
        });
	</script>
	<script src="{% static 'js/event_form.js' %}"></script>
{% endblock %}
