{% extends "abstract/base.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "Bewerk" %} {{ event.name }}{% endblock %}

{% block content %}
	<h1><a href="{% url 'event-detail' event.pk %}">{{ event.name }}</a></h1>

	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#registrations">{% trans "Inschrijvingen" %}</a></li>
		<li><a data-toggle="tab" href="#edit">{% trans "Bewerken" %}</a></li>
	</ul>
	<div class="tab-content">
		<div id="registrations" class="tab-pane fade in active">
			<div class="panel panel-default">
				<div class="panel-body">
					<canvas id="registrationsChart" width="400" height="150"></canvas>
				</div>
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>{% trans "Naam" %}</th>
							<th>{% trans "Inschrijfdatum" %}</th>
							<th>{% trans "Uitschrijfdatum" %}</th>
							{% if event.note_field != '' %}
								<th>{{ event.note_field }}</th>
							{% endif %}
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for reg in event.registration_set.all %}
							<tr class="{% if reg.is_backup %}warning{% else %}success{% endif %}{% if reg.withdrawn_at != None %} danger{% endif %}">
								<td>{{ forloop.counter }}</td>
								<td>{{ reg.participant.first_name }} {{ reg.participant.last_name }}</td>
								<td>{{ reg.created_at }}</td>
								<td>{{ reg.withdrawn_at }}</td>
								{% if event.note_field != '' %}
									<td>{{ reg.note }}</td>
								{% endif %}
								<td><a href="{% url 'registration-edit' event.pk reg.pk %}" class="glyphicon glyphicon-edit" title="{% trans "Bewerken" %}"></a></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="panel-footer">
					<div class="flex-footer">
						{% if user.is_staff %}
							<a href="{% url 'registration-create' event.pk %}" class="btn btn-primary">{% trans "Inschrijvingen toevoegen" %}</a>
						{% endif %}
						<a href="{% url 'registration-list' event.pk %}?format=csv" class="btn btn-primary" title="{% trans "Alleen ingeschreven deelnemers die niet op de reservelijst staan worden geëxporteerd" %}">{% trans "Exporteren" %}</a>
						<a href="{% url 'mail-create' event.pk %}" class="btn btn-primary">{% trans "Mass mail" %}</a>
					</div>
				</div>
			</div>
		</div>

		<div id="edit" class="tab-pane fade in">
			{% url 'event-detail' event.pk as action %}
			{% include 'include/event_form.html' with action=action method="PUT" %}
		</div>
	</div>
{% endblock %}

{% block links %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">
{% endblock %}

{% block scripts %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
	<script>
        $(function () {
            $('.date').datetimepicker({
                format: 'YYYY-MM-DD HH:mm'
            });
        });
	</script>
	<script src="{% static 'js/event_form.js' %}"></script>
	<script>
		var ctx = document.getElementById("registrationsChart").getContext('2d');
		var color = Chart.helpers.color;

		$.getJSON('{% url 'api-stats-registrations' event.pk %}', function (chartdata) {
			var myBarChart = new Chart(ctx, {
				type: 'bar',
				data: {
					datasets: [{
						backgroundColor: color('rgb(54, 162, 235)').alpha(0.5).rgbString(),
						borderColor: 'rgb(54, 162, 235)',
						borderWidth: 1,
						data: chartdata
					}]
				},
				options: {
					responsive: true,
					legend: {
						display: false
					},
					scales: {
						xAxes: [{
							type: 'time',
							time: {
								unit: 'day',
								displayFormats: {
									day: 'YYYY-MM-DD'
								}
							}
						}]
					}
				}
			});
		});
	</script>
{% endblock %}
