{% extends "abstract/base.html" %}

{% load bootstrap3 %}

{% block title %}{{ event.name }}{% endblock %}

{% block content %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1>{{ event.name }} <small>{{ event.committee.name }}</small></h1>
			{% if event.committee in user.committee_set.all %}
				<a class="btn btn-default" href="{% url 'event-edit' event.pk %}" role="button">Bewerken</a>
			{% endif %}
		</div>
		<div class="panel-body">
			<p><strong>Datum: </strong>{{ event.event_at }}</p>
			{% if event.deadline_at != None %}
				<p><strong>Inschrijfdeadline: </strong>{{ event.deadline_at }}</p>
			{% endif %}
			<p><strong>Locatie: </strong>{{ event.location }}</p>
			<p><strong>Kosten: </strong>€{{ event.price }}</p>

			<br>
			<p>{{ event.description }}</p>

			{% if event.places != None %}
				<div class="progress">
					<div class="progress-bar" role="progressbar" style="width: {% widthratio event.get_active_registrations_count event.places 100 %}%; max-width: 100%;">
						{{ event.get_active_registrations_count }} / {{ event.places }}
					</div>
				</div>
			{% else %}
				<p>Ingeschreven: {{ event.get_active_registrations_count }}</p>
			{% endif %}
		</div>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Naam</th>
					<th>Inschrijfdatum</th>
				</tr>
			</thead>
			<tbody>
				{% for reg in regs %}
					<tr class="{% if reg.participant == user %}info{% endif %}{% if reg.is_backup %} warning{% endif %}">
						<td>{{ forloop.counter }}</td>
						<td>
							{% if reg.withdrawn_at != None %}<s>{% endif %}
								{{ reg.participant.first_name }} {{ reg.participant.last_name }}
							{% if reg.withdrawn_at != None %}</s>{% endif %}
						</td>
						<td>{{ reg.created_at }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="panel-footer">
			{% if form is not None %}
				<form class="form-inline" action="{{ action }}?role=user" method="post">
					{% csrf_token %}
					{% if user in event.participants.all %}
						<input name="_method" value="PUT" type="hidden">
					{% endif %}
					{% bootstrap_form form layout='inline' %}
					<button class="btn btn-primary" type="submit">OK</button>
				</form>
				{% if event.is_full %}
					<br>
					<div class="alert alert-warning">
						<p>Deze inschrijflijst zit vol. Je kunt je nog wel inschrijven als reserve; je komt dan op de lijst te staan als iemand zich uitschrijft. Selectie is op basis van inschrijfdatum.</p>
					</div>
				{% endif %}
			{% else %}
				<div class="alert alert-warning">
					<p>De deadline voor deze inschrijflijst is verstreken. Je kunt je niet meer in- of uitschrijven. Neem voor vragen <a href="mailto:{{ event.committee.email }}">contact op met de {{ event.committee.name }}</a>.</p>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
