{% extends "abstract/base.html" %}

{% block title %}Inschrijflijsten{% endblock %}

{% block content %}
	<h1>Inschrijflijsten</h1>

	<div class="row">
		{% for event, participants in events %}
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="text-center">
							{{ event.name }}
							<small>{{ event.committee.name }}</small>
							{% if event.created_at > request.user.last_seen_at %}
								<span class="label label-info">Nieuw!</span>
							{% endif %}
						</h2>
					</div>
					<div class="panel-body" id="description">
						<p><strong>{{ event.start_at }}</strong></p>
						<p>{{ event.description }}</p>
					</div>
					<div class="panel-body" id="info">
						{% if event.places != None %}
							<div class="progress">
								<div class="progress-bar{% if participants.count == event.places %} progress-bar-warning{% elif participants.count > event.places %} progress-bar-danger{% endif %}" role="progressbar" style="width: {% widthratio participants.count event.places 100 %}%; max-width: 100%;">
									{{ participants.count }} / {{ event.places }}
								</div>
							</div>
						{% else %}
							<p>Ingeschreven: {{ participants.count }}</p>
						{% endif %}
					</div>
					<div class="panel-footer">
						<a class="btn btn-default" href="{% url 'event-detail' event.pk %}" role="button">Details</a>
						{% if user in participants %}<div><span class="glyphicon glyphicon-check"></span> Ingeschreven</div>{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
