{% extends "abstract/base.html" %}

{% block title %}Inschrijflijsten{% endblock %}

{% block content %}
	<h1>Inschrijflijsten</h1>

	<div class="row">
		{% for event, participants in events %}
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading"><h2 class="text-center">{{ event.name }} <small>{{ event.committee.name }}</small></h2></div>
					<div class="panel-body">
						<p><strong>{{ event.event_at }}</strong></p>
						<p>{{ event.description }}</p>
						{% if event.places != None %}
							<div class="progress">
								<div class="progress-bar{% if participants.count == event.places %} progress-bar-warning{% elif participants.count > event.places %} progress-bar-danger{% endif %}" role="progressbar" style="width: {% widthratio participants.count event.places 100 %}%; max-width: 100%;">
									{{ participants.count }} / {{ event.places }}
								</div>
							</div>
						{% else %}
							<p>Ingeschreven: {{ participants.count }}</p>
						{% endif %}
						{% if user in participants %}
							<p><span class="glyphicon glyphicon-check"></span> Ingeschreven</p>
						{% endif %}
					</div>
					<div class="panel-footer">
						<a class="btn btn-default" href="{% url 'event-detail' event.pk %}" role="button">Details</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
