{% extends "abstract/base.html" %}

{% load bootstrap3 %}
{% load i18n %}

{% block title %}{% trans "Bewerk registratie" %}{% endblock %}

{% block content %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1>{% blocktrans with first_name=registration.participant.first_name last_name=registration.participant.last_name event=event.name %}Bewerk inschrijving van {{ first_name }} {{ last_name }} voor {{ event }}{% endblocktrans %}</h1>
		</div>
		<div class="panel-body">
			<form action="{% url 'registration-detail' event.pk registration.pk %}?role=cm-admin" method="post">
				{% csrf_token %}
				<input name="_method" value="PUT" type="hidden">
				{% bootstrap_form form %}
				<button class="btn btn-primary" type="submit">{% trans "OK" %}</button>
			</form>
		</div>
	</div>
{% endblock %}

{% block links %}
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
{% endblock %}
